<app-menu (ActiveChanged)="onSidebarCollapseChanged($event)"></app-menu>

<div class="container" [class.active]="isSidebarCollapsed" >
  <!-- Sección izquierda: listas desplegables -->
  <div class="table-section">
    <table>
      <thead>
        <tr>
          <th>foto</th>
          <th>Nombre</th>
          <th>Pais</th>
          <th>Pago</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of filteredUsuarios" class="usuario-row">
          <td>
            <img *ngIf="usuario.imguser" [src]="usuario.imguser" alt="Foto de {{usuario.name}}" width="50" height="50">
          </td>
          <td>{{usuario.name}}</td>
          <td>{{ usuario.country}}</td>
          <td>
            <mat-slide-toggle>Pagar</mat-slide-toggle>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Sección derecha: gráficos y botones -->
  <div class="right-section">
    <div class="user-info">
      <!-- Gráficos -->
      <div class="charts">
        <div class="chart">
          <h4>Monto a pagar</h4>
          <!-- Aquí iría el gráfico -->
          <div class="circle">Gráfico</div>
        </div>

        <div class="chart">
          <h4>Monto general</h4>
          <!-- Aquí iría el gráfico -->
          <div class="circle">Gráfico</div>
        </div>
      </div>
    </div>

    <!-- Botones de acciones -->
    <div class="buttons">
      <button class="btn">Consultar</button>
      <button class="btn">Pagar</button>
    </div>
  </div>


