<app-menu></app-menu>

<div class="form-container">
  <form (ngSubmit)="onSubmit()">
    <label for="email">CORREO</label>
    <input type="email" id="email" placeholder="Correo" [(ngModel)]="userData.email" name="email" required />
    
    <label for="name">NOMBRE</label>
    <input type="text" id="name" placeholder="Nombre" [(ngModel)]="userData.displayName" name="displayName" required />
    
    <div class="input-container">
    <label for="password">PASSWORD</label>
    <input [type]="showPassword ? 'text' : 'password'" id="password" placeholder="Contraseña" [(ngModel)]="userData.password" name="password" required />
    <i class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility()"></i>
    </div>

    <div class="input-container">
    <label for="confirm-password">CONFIRMAR PASSWORD</label>
    <input type="password" id="confirm-password" placeholder="Confirmar Contraseña" [(ngModel)]="userData.confirmPassword" name="confirmPassword" required />
    <i class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility()"></i>
    </div>

    <label for="photo">FOTO</label>
    <input type="file" id="photo" (change)="onFileSelected($event)" accept="image/*" />

    <!-- Previsualización de la imagen seleccionada -->
    <img *ngIf="imagePreview" [src]="imagePreview" alt="Vista previa de la imagen" />
    
    <button type="submit">GUARDAR</button>
  </form>
</div>
