<app-menu (ActiveChanged)="onSidebarCollapseChanged($event)"></app-menu>

<div [class.active]="isSidebarCollapsed" class="quick-access">
    <div class="grid-container">
        <div class="grid-item" routerLink="/acceso-r">
            <i class="fa fa-home fa-3x"></i>
            <p>Inicio</p>
        </div>
        <div class="grid-item" routerLink="/acceso-r">
            <i class="fa fa-user fa-3x"></i>
            <p>Perfil</p>
        </div>
        <div class="grid-item" routerLink="/analytics">
            <i class="fa-solid fa-magnifying-glass-chart fa-3x"></i>
            <p>Analisis</p>
        </div>
        <div class="grid-item" routerLink="/usuarios">
            <i class="fa fa-users fa-3x"></i>
            <p>Usuarios</p>
        </div>
        <div class="grid-item" routerLink="/finanzas">
            <i class="fa-solid fa-pager fa-3x"></i>
            <p>Pagar</p>
        </div>
        <div class="grid-item" routerLink="/carga3d">
            <i class="fa fa-sign-out-alt fa-3x"></i>
            <p>Salir</p>
        </div>
    </div>
</div>

